
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">

          $(document).ready(function (){
            
            var socket  = io.connect();
 
            $( '#increase_count').click(function(){
                
                

                socket.emit( "button_push", true);

            });

            $( '#reset_count').click(function(){
                
                

                socket.emit( "reset", true);

            });
             
              
            socket.on('count', function (data){
              
              $('#number').text(data);
            });

             
          })

    </script>


</head>
<body>
 
  <div id="number"></div>

  <button id="increase_count">increase count</button>

  <button id="reset_count">reset count</button>

</body>

</html>
